[submodule "asm-differ"]
	path = tools/asm-differ
	url = https://github.com/simonlindholm/asm-differ
[submodule "tools/decomp-permuter"]
	path = tools/decomp-permuter
	url = https://github.com/simonlindholm/decomp-permuter
[submodule "src/network/lan64"]
	path = src/network/lan64
	url = https://github.com/Henrik0x7F/lan64
